{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'loginstatic/logstyle.css' %}"> <!-- Link to your CSS file -->
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <br><br>
        <form class="login-form" method="post" action="{% url 'loginview1' %}">
            {% csrf_token %}
            <!-- <label for="username">Username</label> -->
            <input type="text" id="username" name="username" placeholder="USERNAME" required>
            <br>

            <!-- <label for="password">Password</label> -->
            <input type="password" id="password" name="password" placeholder="PASSWORD" required>
            <br>

            <button type="submit">Login</button>
        </form>
        <br><br>
        <div>
            {{msg2}}
        </div>
       <div class=""><p class="create-account-link">Don't have an account? <a href="{% url 'register1' %}">Create an Account</a></p></div>
    </div>
    </div>
</body>
</html>
